<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, :required => true, class: "form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.text_area :content, :required => true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published, class: "checkbox"%>
  </div>

  <div class="control-group">
    <%= form.label "Category", class:"control-label" %>
    <div class="controls">
      <%= form.select(:category_id, options_for_select(Category.all.collect{|c | [c.name, c.id]}, { include_blank: false, selected: form.object.category_id })) %>
    </div>
  </div>

<div class="control-group">
    <%= form.label "Author from users", class:"control-label" %>
    <div class="controls">
      <%= form.select(:user_id, options_for_select(User.all.collect{|c | [c.fname, c.lname, c.id]}, { include_blank: false, selected: form.object.user_id })) %>
    </div>
  </div> 

  <div class="control-group">
    <%= form.label "Tags hit cmd to select multiple", class:"control-label" %>
    <div class="controls">
      <%#= form.select(:tag_ids, options_for_select(Tag.all.collect{|c | [c.name, c.id]}, { :include_blank => false, multiple: true})) %>
      <%# <%= options_from_collection_for_select(City.includes(:country), :id, :name_with_country) %>
      <%= form.collection_select :tag_ids, Tag.all, 
                        :id, :name, { include_blank: false },
                         { multiple: true } %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions form-group">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
