<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Published:</strong>
  <%= @post.published %>
</p>
<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<p>
  <strong>Author from db:</strong>
  <%= @post.user.fname %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @post.tags.collect{|c| c.name}.join(', ') %>
</p>
<p>
  <strong>Created at:</strong>
  <%= @post.created_at %>
</p>
<% unless(@post.image.blank?) %>
    <strong>Image</strong>
    </div>
      <%= image_tag(@post.image) %>
<% end %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
