<p id="notice"><%= notice %></p>
<div class="center-div">
<h1 class="top-title">Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="text-secondary">
  <%# remember we have created @category instance before and use now here %>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody class="text-secondary">
</table>

<br>
<div class="row-fluid">
  <div class="span12 text-center">
<%= link_to 'New Category', new_category_path, class:"text-justify top-title btn btn-primary mb-2 text-light" %>

</div>
</div>
</div>